
CREATE TABLE IF NOT EXISTS banned_words (word TEXT UNIQUE);
INSERT INTO banned_words (word) VALUES ('teste'), ('foda'), ('merda') ON CONFLICT DO NOTHING;

CREATE OR REPLACE FUNCTION censor_text(input_text text) RETURNS text AS \$\$
DECLARE
    rec record;
    output_text text := input_text;
BEGIN
    IF input_text IS NULL THEN RETURN NULL; END IF;
    FOR rec IN SELECT word FROM banned_words LOOP
        output_text := regexp_replace(output_text, '\y' || rec.word || '\y', '***', 'gi');
    END LOOP;
    RETURN output_text;
END;
\$\$ LANGUAGE plpgsql;

SELECT censor_text('Isso é um teste foda de merda e fodastico');

